.gws-repos{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.gws-repos div {
	background: #fff;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 5px;
	max-width: 400px;

	&>:first-child{
		margin-top:0;
	}
	&>:last-child{
		margin-bottom:0;
	}
}
.gws-repos span {
	width: 100%;
	display: none;
}
.gws-repos:has(input[type="checkbox"]:checked) span {
	display: block;
}

.gws-repos pre{
	font-size:.8em;
	line-height:1.5;
	white-space: pre-wrap;
}
.gws-repos label{
	display: block;
	font-weight: bold;
	margin-top: 10px;
}

.gws-repos div:has([name="delete[]"]:checked) {
	opacity: 0.5;
	text-decoration: line-through;
	text-decoration-color: red;
}